
 .grid-pagination > .pagination {
    margin: 10px 0 5px 0;
    background-color: #999999;
    border: none;
    z-index: 10;
}

.grid-pagination > .pagination > li.page-item.active, 
.grid-pagination > .pagination > .page-item.active > a, 
.grid-pagination > .pagination > .page-item.active > span, 
.grid-pagination > .pagination > .page-item.active > a:hover, 
.grid-pagination > .pagination > .page-item.active > span:hover, 
.grid-pagination > .pagination > .page-item.active > a:focus, 
.grid-pagination > .pagination > .page-item.active > span:focus {
    z-index: 2;
    color: black;
    cursor: default;
    font-weight: 400;
} 

.grid-pagination > .pagination > li.page-item > a, 
.grid-pagination > .pagination > li.page-item > span, 
.grid-pagination > .pagination > li.page-item > a:hover, 
.grid-pagination > .pagination > li.page-item > span:hover, 
.grid-pagination > .pagination > li.page-item > a:focus, 
.grid-pagination > .pagination > li.page-item > span:focus {
    color: white;
    background-color: #999999;
    border: none;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0 5px 0 5px;
    float: none;
    outline: none;
}

 .grid-pagination > .pagination > .page-item.disabled > span, 
 .grid-pagination >.pagination > .page-item.disabled > span:hover, 
 .grid-pagination >.pagination > .page-item.disabled > span:focus, 
 .grid-pagination >.pagination > .page-item.disabled > a, 
 .grid-pagination >.pagination > .page-item.disabled > a:hover, 
 .grid-pagination >.pagination > .page-item.disabled > a:focus {
    color: white;
    cursor: not-allowed;
    background-color: #999999;
    border: none;
    padding: 0 5px 0 5px;
    float: none;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.grid-pagination > .pagination > li.page-item:first-child > a, 
.grid-pagination > .pagination > li.page-item:first-child > span, 
.grid-pagination > .pagination > li.page-item:first-child > a:hover, 
.grid-pagination > .pagination > li.page-item:first-child > span:hover, 
.grid-pagination > .pagination > li.page-item:first-child > a:focus,
.grid-pagination > .pagination > li.page-item:first-child > span:focus {
    margin-left: 0;
    border: none;
    border-right: 1px solid white;
}

.grid-pagination > .pagination > li.page-item:last-child > a, 
.grid-pagination > .pagination > li.page-item:last-child > span, 
.grid-pagination > .pagination > li.page-item:last-child > a:hover, 
.grid-pagination > .pagination > li.page-item:last-child > span:hover, 
.grid-pagination > .pagination > li.page-item:last-child > a:focus,
.grid-pagination > .pagination > li.page-item:last-child > span:focus {
    margin-left: 0;
    border: none;
    
}

.grid-pagination > .pagination > .page-item.active .page-link{
    background-color: #999999;
    border-color: white;
}

  .page-link:focus{
    box-shadow: none;
}

.grid-pagination > .pagination > li.page-item > a[aria-label="Next"] span {
    color:#999999;
    background-color: #999999;   
} 
.grid-pagination > .pagination > li.page-item > a[aria-label="Last"] span {
    color:#999999;
    background-color: #999999;   
} 
.grid-pagination > .pagination > li.page-item > a[aria-label="Previous"] span {
    color:#999999;
    background-color: #999999;   
} 
.grid-pagination > .pagination > li.page-item > a[aria-label="First"] span {
    color:#999999;
    background-color: #999999;   
} 

.grid-pagination > .pagination > li.page-item > a[aria-label="Next"] ::after  {
    margin-left:-10px;
    content: 'Next';   
    color:white;
    background-color: #999999;
 }  

 .grid-pagination > .pagination > li.page-item > a[aria-label="Last"] ::after  {
    margin-left:-14px;
    content: 'Last';   
    color:white;
    background-color: #999999;
 }  

 .grid-pagination > .pagination > li.page-item > a[aria-label="First"] ::after  {
    content: 'First';   
    color:white;
    background-color: #999999;    
 }  

 .grid-pagination > .pagination > li.page-item > a[aria-label="Previous"] ::after  {
    margin-left:-10px;
    content: 'Prev';   
    color:white;
    background-color: #999999;
 }  
